<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><!-- InstanceBegin template="/Templates/major_templete.dwt" codeOutsideHTMLIsLocked="false" -->
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!-- InstanceBeginEditable name="doctitle" -->
<title>威宇嵌入式科技股份有限公司</title>
<!-- InstanceEndEditable -->
<!-- InstanceBeginEditable name="head" -->
<!-- InstanceEndEditable -->
<link href="../common_image/general.css" rel="stylesheet" type="text/css" />
<script src="../SpryAssets/SpryMenuBar.js" type="text/javascript"></script>
<link href="../SpryAssets/SpryMenuBarHorizontal.css" rel="stylesheet" type="text/css" />
</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <table width="1280" border="0">
    <tr>
      <td><img src="../common_image/web_title.jpg" alt="" name="titlle_image" width="1280" height="175" id="titlle_image" /></td>
    </tr>
    <tr>
      <td><table width="1280" border="0">
        <tr>
          <td width="10">&nbsp;</td>
          <td width="247">&nbsp;</td>
          <td width="968"><ul id="major_spry" class="MenuBarHorizontal">
            <li><a class="spry_line" href="../index.html">首頁</a>              </li>
            <li><a href="../about.html" class="spry_line">關於威宇</a></li>
            <li><a href="#" class="spry_line">產品</a>
              <ul>
                <li><a href="../ControlSystem/index.html" class="sub_spry_line MenuBarItemSubmenu">自動控制系統/控制器</a>
                  <ul>
<li><a href="../ControlSystem/ct_m02.html" class="sub_spry_line">CT-M02主機板</a></li>
<li><a href="../ControlSystem/ct_m03.html" class="sub_spry_line">CT-M03主機板</a></li>
<li><a href="../ControlSystem/tcm10.html" class="sub_spry_line">TCM10可行程溫度壓力控制器</a></li>
                  </ul>
                </li>
                <li><a href="../RemoteIOModule/index.html" class="sub_spry_line">遠端IO模組</a>
                  <ul>
                    <li><a href="../RemoteIOModule/ct_series.html" class="sub_spry_line">CT Series 遠端IO模組</a></li>
                    <li><a href="../RemoteIOModule/cs02_series.html" class="sub_spry_line">CS02 Series 遠端IO模組</a></li>
                    <li><a href="../RemoteIOModule/rp01.html" class="sub_spry_line">RP01 樹莓派IO模組</a></li>
                  </ul>
                </li>
<li><a href="../RemoteSensorModule/index.html" class="sub_spry_line">遠端感測模組</a></li>
<li><a href="../RemoteControl/index.html" class="sub_spry_line">遠端通訊控制模組</a></li>
<li><a href="../RemoteTransferModule/index.html" class="sub_spry_line">遠端傳送器</a>
  <ul>
    <li><a href="../RemoteTransferModule/csrs10.html" class="sub_spry_line">CSRS10 RS232多ID訊號延伸器</a></li>
    <li><a href="../RemoteTransferModule/csa10.html" class="sub_spry_line">CSA10 雙向類比訊號延伸器</a></li>
    <li><a href="../RemoteTransferModule/csa20.html" class="sub_spry_line">CSA20 類比訊號延伸器</a></li>
    <li><a href="../RemoteTransferModule/csd10.html" class="sub_spry_line">CSD10 雙向控制訊號延伸器</a></li>
  </ul>
</li>
<li><a href="../RemoteControlSolution/index.html" class="sub_spry_line">遠端監控方案</a>
  <ul>
    <li><a href="../RemoteControlSolution/index.html#RemoteControlMonitorSystem" class="sub_spry_line">自動化產線監控方案</a></li>
    <li><a href="../RemoteControlSolution/index.html#IndustryControlMonitorSystem" class="sub_spry_line">工業監控方案</a></li>
  </ul>
</li>
<li><a href="../AutomaticODM/index.html" class="sub_spry_line MenuBarItemSubmenu">自動化設備ODM</a>
  <ul>
    <li><a href="../AutomaticODM/embedded_system.html" class="sub_spry_line">嵌入式控制系統</a></li>
    <li><a href="../AutomaticODM/pc_system.html" class="sub_spry_line">PC Base控制系統</a></li>
  </ul>
</li>
<li><a href="../EmbeddedODM/index.html" class="sub_spry_line">嵌入式系統/裝置ODM</a></li>
<li><a href="../WaterEscort/index.html" class="sub_spry_line MenuBarItemSubmenu">滅菌水設備</a>
  <ul>
    <li><a href="../WaterEscort/index.html" class="sub_spry_line">水護衛電位滅菌水</a></li>
    <li><a href="../WaterEscort/w_series.html" class="sub_spry_line">水護衛電位滅菌水產生器</a></li>
    <li><a href="../WaterEscort/application.html" class="sub_spry_line">水護衛電位滅菌水應用</a></li>
  </ul>
</li>
<li><a href="../ToturialUnit/index.html" class="sub_spry_line MenuBarItemSubmenu">教學套件</a>
  <ul>
    <li><a href="../ToturialUnit/PT_Series.html#pt_new" class="sub_spry_line">PT系列積木套件</a></li>
    <li><a href="../ToturialUnit/PLP_Series.html#plp_new" class="sub_spry_line">PLP系列彈珠台套件</a></li>
</ul>
</li>
<li><a href="../ToturialCourse/index.html" class="sub_spry_line MenuBarItemSubmenu">教學課程</a>
  <ul>
    <li><a href="../ToturialCourse/microbit_introduce.html" class="sub_spry_line">Micro:Bit課程</a></li>
    <li><a href="../ToturialCourse/python_introduce.html" class="sub_spry_line">Python課程</a></li>
</ul>
</li>
              </ul>
            </li>
<li><a class="spry_line MenuBarItemSubmenu" href="#">資源</a>
  <ul>
                <li><a href="../forum/forum.php" class="sub_spry_line">論壇</a></li>
                <li><a href="../download.html" class="sub_spry_line">下載</a></li>
              </ul>
        </li>
            <li><a href="../contact.html" class="spry_line">聯絡我們</a></li>
          </ul></td>
          <td width="23">&nbsp;</td>
          <td width="10">&nbsp;</td>
        </tr>
      </table></td>
    </tr>
  </table>
</form>
<form id="form2" name="form2" method="post" action="">
  <table width="1280" border="0">
    <tr>
      <td><table width="1280" border="0">
        <tr>
          <td width="240" align="center" valign="top"><!-- InstanceBeginEditable name="sub_spry" -->
            <table width="240" border="0">
              <tr>
                <td width="240" height="40" align="left" valign="middle">&nbsp;</td>
              </tr>
              <tr>
                <td width="240" height="40" align="left" valign="middle">&nbsp;</td>
              </tr>
              <tr>
                <td width="240" height="40" align="left" valign="middle">&nbsp;</td>
              </tr>
              <tr>
                <td width="240" height="40" align="left" valign="middle">&nbsp;</td>
              </tr>
              <tr>
                <td width="240" height="40" align="left" valign="middle">&nbsp;</td>
              </tr>
              <tr>
                <td width="240" height="34" align="left" valign="middle">&nbsp;</td>
              </tr>
              <tr>
                <td width="240" height="40" align="left" valign="middle">&nbsp;</td>
              </tr>
              <tr>
                <td width="240" height="40" align="left" valign="middle">&nbsp;</td>
              </tr>
              <tr>
                <td width="240" height="40" align="left" valign="middle">&nbsp;</td>
              </tr>
              <tr>
                <td width="240" height="40" align="left" valign="middle">&nbsp;</td>
              </tr>
            </table>
          <!-- InstanceEndEditable --></td>
          <td width="1029" align="center" valign="top"><!-- InstanceBeginEditable name="content" -->
            <table width="1024" border="0" align="center">
              <tr>
                <td width="10">&nbsp;</td>
                <td>&nbsp;</td>
                <td width="10">&nbsp;</td>
              </tr>
              <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <td>&nbsp;</td>
                <td><table width="469" border="0">
                  <tr>
                    <td width="76">&nbsp;</td>
                    <td width="226"><img name="" src="../common_image/line_officer.png" width="347" height="56" alt="" /></td>
                    <td width="153">&nbsp;</td>
                  </tr>
                </table></td>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <td width="10">&nbsp;</td>
                <td>&nbsp;</td>
                <td width="10">&nbsp;</td>
              </tr>
              <tr>
                <td>&nbsp;</td>
                <td><table width="469" border="0">
                  <tr>
                    <td width="76">&nbsp;</td>
                    <td width="226"><div align="center"><img name="" src="../common_image/Line官方群組_QR-Code_03.jpg" width="223" height="223" alt="" /></div></td>
                    <td width="153">&nbsp;</td>
                  </tr>
                </table></td>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <td width="10">&nbsp;</td>
                <td>&nbsp;</td>
                <td width="10">&nbsp;</td>
              </tr>
            </table>
          <!-- InstanceEndEditable --></td>
        </tr>
      </table></td>
    </tr>
  </table>
</form>
<form id="form3" name="form2" method="post" action="">
  <table width="1280" border="0">
    <tr>
      <td><table width="1280" border="0" cellspacing="0">
        <tr>
          <td width="122" bgcolor="#EEF7FF">&nbsp;</td>
          <td width="282" align="center" bgcolor="#EEF7FF">&nbsp;</td>
          <td width="346" height="80" bgcolor="#EEF7FF"><p class="info_line">威宇嵌入式科技股份有限公司</p>
            <p class="info_line">新北市三峽區愛國路198號1樓</p>
            <p class="info_line">電話 : 02-26737160 傳真 : 02-26738712</p></td>
          <td width="19" bgcolor="#EEF7FF" class="info_line">&nbsp;</td>
          <td width="471" bgcolor="#EEF7FF"><p>&nbsp;</p>
            <p class="info_line">CopyRight Cat Embedded Vision  System Co.,Ltd. ,All rights reserved.</p></td>
          <td width="14" bgcolor="#EEF7FF">&nbsp;</td>
        </tr>
      </table></td>
    </tr>
  </table>
</form>
<form id="form4" name="form4" method="post" action="">
<!-- InstanceBeginEditable name="Keyword" -->
  <table width="1284" border="0">
    <tr class="Keyword_Line">
      <td width="10">&nbsp;</td>
      <td width="1246"><p>CAN Bus 長距離  遠距離 遠端 訊號控制 訊號接收 訊號擷取 訊號傳輸 多通訊 I/O控制器 模組 資料擷取 工業自動化 自動控制器訊號處理  嵌入式系統感測模組 感測裝置 Micro:Bit Microbit 程式 自動控制 教學課程 108課綱</p></td>
      <td width="19">&nbsp;</td>
    </tr>
  </table>
  <!-- InstanceEndEditable -->
</form>
<script type="text/javascript">
var MenuBar1 = new Spry.Widget.MenuBar("major_spry", {imgDown:"../SpryAssets/SpryMenuBarDownHover.gif", imgRight:"../SpryAssets/SpryMenuBarRightHover.gif"});
</script>
</body>
<!-- InstanceEnd --></html>
